body {
    
    font-family: 'Quicksand', sans-serif;
}

header {
    text-align: center;
    font-size: 60px;
    background-color: #9bb5fd;
    color: white;
    padding-top: 10px;
    padding-bottom: 12px;
    margin: 15px 30px;
    font-weight: bold;
}

.x-button{
    display: inline;
}
.ingredient-info{
    display: inline;
}

.ingredient-line{
    display: block;
}

a {
    font-size: 40pt;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: lightslategray;
}

span {
    line-height: 1.5em;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-top: 15px;
}

.total-cal {
    font-size: 20pt;
    padding-top: 5px;
}

.food-pic {
    height: 20%;
    border-style: solid;
    border-color: gray;
    border-width: 4px;
}

h1 {
    font-size: 100pt;
    text-align: center;
}

canvas {
    background-color: white;
    border-radius: 20px;
}
